.auth-form {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control label,
.form-control input {
  width: 100%;
  height: 28px;
  display: block;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.form-actions button,
.btn {
  background: #5101d1;
  font: inherit;
  border: 1px solid #5101d1;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: #fff;
  cursor: pointer;
}

.auth-btn {
  width: 100%;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
  background: #6219d6;
  border-color: #6219d6;
}

.form-notification {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}